In [ ]:
import numpy as np
from scipy import stats

In [ ]:
N = 10
a = np.random.randn(N) + 2
b = np.random.randn(N)

In [ ]:
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)
s = np.sqrt((var_a + var_b) / 2)
t = (a.mean() - b.mean()) / (s * np.sqrt(2.0 / N))
df = 2 * N - 2
p = 1 - stats.t.cdf(t, df=df)
print(f"t: {t}, p: {2 * p}")

t2, p2 = stats.ttest_ind(a, b)
print(f"t: {t2}, p: {2 * p}")

t: 4.843566723136699, p: 0.00013040087189408744
t: 4.843566723136697, p: 0.00013040087189408744

### $t$-test

In [ ]:
import pandas as pd

In [ ]:
# Mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/bayesian_ab_testing/data/advertisement_clicks.csv')

In [ ]:
df.head()

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [ ]:
df_a = df.loc[df['advertisement_id'] == 'A']
df_b = df.loc[df['advertisement_id'] == 'B']

In [ ]:
df_a.describe()

            action
count  1000.000000
mean      0.304000
std       0.460213
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [ ]:
df_b.describe()

           action
count  1000.00000
mean      0.37200
std       0.48358
min       0.00000
25%       0.00000
50%       0.00000
75%       1.00000
max       1.00000

In [ ]:
b = df_a['action'].values
a = df_b['action'].values

In [ ]:
N = len(a)
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)
s = np.sqrt((var_a + var_b) / 2)
t = (a.mean() - b.mean()) / (s * np.sqrt(2.0 / N))
df = 2 * N - 2
p = 1 - stats.t.cdf(t, df=df)
print(f"t: {t}, p: {2 * p}")

t2, p2 = stats.ttest_ind(a, b)
print(f"t: {t2}, p: {2 * p}")

t: 3.221173213801978, p: 0.0012971905467125122
t: 3.2211732138019786, p: 0.0012971905467125122

In [ ]:
stats.ks_2samp(a, b)

Ks_2sampResult(statistic=0.068, pvalue=0.01960232095219542)

In [ ]:
stats.kruskal(a, b)

KruskalResult(statistic=10.327517474390973, pvalue=0.0013106137059954806)

In [ ]:
stats.mannwhitneyu(a, b)

MannwhitneyuResult(statistic=466000.0, pvalue=0.0006554147079709661)

### Solution

In [ ]:

# built-in t-test:
t, p = stats.ttest_ind(a, b)
print("t:\t", t, "p:\t", p)

# welch's t-test:
t, p = stats.ttest_ind(a, b, equal_var=False)
print("Welch's t-test:")
print("t:\t", t, "p:\t", p)

# welch's t-test manual:
N1 = len(a)
s1_sq = a.var()
N2 = len(b)
s2_sq = b.var()
t = (a.mean() - b.mean()) / np.sqrt(s1_sq / N1 + s2_sq / N2)

nu1 = N1 - 1
nu2 = N2 - 1
df = (s1_sq / N1 + s2_sq / N2)**2 / ( (s1_sq*s1_sq) / (N1*N1 * nu1) + (s2_sq*s2_sq) / (N2*N2 * nu2) )
p = (1 - stats.t.cdf(np.abs(t), df=df))*2
print("Manual Welch t-test")
print("t:\t", t, "p:\t", p)

t:	 3.2211732138019786 p:	 0.0012971905467125246
Welch's t-test:
t:	 3.2211732138019786 p:	 0.0012972410374001632
Manual Welch t-test
t:	 3.2227850093563326 p:	 0.001290002009638913

In [ ]:
# Built-in t-test:
t, p = stats.ttest_ind(a, b)
print(f"t: {t}, p: {p}")

# Welch's t-test:
t, p = stats.ttest_ind(a, b, equal_var=False)
print("Welch's t-test:")
print(f"t: {t}, p: {p}")

# Welch's t-test manual:
N1 = len(a)
s1_sq = a.var()
N2 = len(b)
s2_sq = b.var() 
t = (a.mean() - b.mean()) / np.sqrt(s1_sq / N1 + s2_sq / N2)

nu1 = N1 - 1
nu2 = N2 - 1
df = (s1_sq / N1 + s2_sq / N2)**2 / ((s1_sq * s1_sq) / (N1 * N1 * nu1) + (s2_sq * s2_sq) / (N2 * N2 * nu2))
p = (1 - stats.t.cdf(np.abs(t), df=df)) * 2 
print("Manual Welch t-test:")
print(f"t: {t}, p: {p}")

t: 3.2211732138019786, p: 0.0012971905467125246
Welch's t-test:
t: 3.2211732138019786, p: 0.0012972410374001632
Manual Welch t-test:
t: 3.2227850093563326, p: 0.001290002009638913